*.iml
.gradle
/local.properties
/.idea/caches
/.idea/migrations.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/node_modules
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.android
/.android-sdk
/.kotlin
/gradle/gradle-daemon-jvm.properties
